[project]
name = "geoviews"
channels = ["pyviz/label/dev", "conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]

[tasks]
install = 'python -m pip install --no-deps --disable-pip-version-check -e .'
sync-git-tags = 'python scripts/sync_git_tags.py geoviews'

[activation.env]
PYTHONIOENCODING = "utf-8"
USE_PYGEOS = "0"

[environments]
test-310 = ["py310", "test-core", "test-unit-task", "optional", "test-example", "download-data"]
test-311 = ["py311", "test-core", "test-unit-task", "optional", "test-example", "download-data"]
test-312 = ["py312", "test-core", "test-unit-task", "optional", "test-example", "download-data"]
test-313 = ["py313", "test-core", "test-unit-task", "optional", "test-example", "download-data"]
test-314 = ["py314", "test-core", "test-unit-task", "optional-314", "test-example", "download-data"]
test-core = ["py314", "test-unit-task", "test-core"]
test-ui = ["py312", "test-core", "optional", "test-ui", "download-data"]
docs = ["py311", "optional", "doc", "download-data"]
build = ["py311", "build"]
lint = ["py311", "lint"]
download-data = ["download-data"]

[dependencies]
bokeh = ">=3.6.0"
cartopy = ">=0.18.0"
holoviews = ">=1.16.0"
nodejs = ">=20"
numpy = "*"
packaging = "*"
panel = ">=1.0.0"
param = "*"
pip = "*"
pyproj = "*"
shapely = "*"
xyzservices = "*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py312.activation.env]
COVERAGE_CORE = "sysmon"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py313.activation.env]
COVERAGE_CORE = "sysmon"

[feature.py314.dependencies]
python = "3.14.*"

[feature.py314.activation.env]
COVERAGE_CORE = "sysmon"

[feature.download-data.tasks]
download-data = 'python scripts/download_data.py'

[feature.download-data.dependencies]
cftime = "*"
geodatasets = "*"
pooch = "*"
pyct = "*"
scipy = "*"
setuptools = "*" # Because of pyct
xarray = "*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
psutil = "*"
pytest = "*"
pytest-cov = "*"
pytest-github-actions-annotate-failures = "*"
pytest-xdist = "*"

[feature.test-unit-task.tasks] # So it is not showing up in the test-ui environment
test-unit = 'pytest geoviews/tests -n logical --dist loadgroup'

[feature.optional.dependencies]
bokeh_sampledata = "*"
cftime = "*"
datashader = "*"
filelock = "*"
fiona = "*"
geopandas-base = "*"
iris = ">=3.5"
matplotlib-base = ">2.2"
nbval = "*"
netcdf4 = "*"
pandas = "*"
pyviz_comms = "*"
rioxarray = "*"
scipy = "*"
shapely = "*"
xarray = "*"
xesmf = "*"

[feature.optional-314.dependencies]
bokeh_sampledata = "*"
cftime = "*"
# datashader = "*"
filelock = "*"
# fiona = "*"
geopandas-base = "*"
iris = ">=3.5"
matplotlib-base = ">2.2"
nbval = "*"
# netcdf4 = "*"
pandas = "*"
pyviz_comms = "*"
rioxarray = "*"
scipy = "*"
shapely = "*"
xarray = "*"
# xesmf = "*"

[feature.test-example.tasks]
test-example = 'pytest -n logical --dist loadscope --nbval-lax examples'

[feature.test-example.dependencies]
nbval = "*"

[feature.test-ui]
channels = ["microsoft"]

[feature.test-ui.dependencies]
playwright = { version = "!=1.51.0", channel = "microsoft" }  # https://github.com/microsoft/playwright-python/issues/2791
pytest-playwright = { version = "*", channel = "microsoft" }

[feature.test-ui.tasks]
_install-ui = 'playwright install chromium'

[feature.test-ui.tasks.test-ui]
cmd = 'pytest geoviews/tests/ui --ui --browser chromium'
depends-on = ["_install-ui"]

# =============================================
# =================== DOCS ====================
# =============================================
[feature.doc.dependencies]
graphviz = "*"
lxml = "*"
nbsite = ">=0.8.4,<0.9.0"
numpydoc = "*"
selenium = "*"
sphinx-reredirects = "*"

[feature.doc.activation.env]
MOZ_HEADLESS = "1"
MPLBACKEND = "Agg"
SPHINX_APIDOC_OPTIONS = "members,show-inheritance"

[feature.doc.tasks]
_docs-generate-rst = 'nbsite generate-rst --org holoviz --project-name geoviews'
_docs-generate = 'nbsite build --what=html --output=builtdocs --org holoviz --project-name geoviews'
_docs-refmanual = 'sphinx-apidoc -e -o doc/reference_manual/ geoviews/ geoviews/tests --ext-autodoc --ext-intersphinx'

[feature.doc.tasks.docs-build]
depends-on = ['_docs-generate-rst', '_docs-refmanual', '_docs-generate']

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'
build-npm = { cmd = "npm pack .", cwd = "geoviews" }

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'
