name: tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * SUN'

jobs:
  test_suite:
    name: Pytest on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest']
        python-version: ['3.7']
        # os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        # python-version: ['3.7', '3.8', '3.9', '3.10']
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0} 
    env:
      DISPLAY: ":99.0"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MAMBA_NO_BANNER: 1
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "100"
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
      - name: Fetch unshallow
        run: git fetch --prune --tags --unshallow
      - name: conda setup
        run: |
          conda install -n base -c defaults "conda>=4.12"
          conda install -n base -c conda-forge mamba --no-update-deps
          conda install -c conda-forge "nodejs=15.3.0" --no-update-deps
          conda config --prepend channels nodefaults
          conda config --prepend channels conda-forge
          conda config --prepend channels pyviz/label/dev
          conda config --remove channels defaults
          conda create -n test-environment python=${{ matrix.python-version }} pyctdev
      - name: doit develop_install
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit develop_install -o tests -o examples -o recommended --conda-mode=mamba
      - name: patch fiona/geostack on Python 3.7 / Macos
        if: contains(matrix.os, 'macos') && matrix.python-version == '3.7'
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          mamba install "fiona=1.18" "gdal=3.3"
      - name: doit env_capture
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit env_capture
      - name: download test data
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          bokeh sampledata
          geoviews fetch-data --path=examples
      - name: git describe
        run: |
          git describe
      - name: doit test_flakes
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit test_flakes
      - name: doit test_unit
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit test_unit
      - name: test examples
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          doit test_examples
      - name: codecov
        run: |
          eval "$(conda shell.bash hook)"
          conda activate test-environment
          codecov
